<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <configSections>
        <section name="fileSystemWatcherSection"
                 type="FileSystemWatcherApp.Configuration.FileSystemWatcherSection, FileSystemWatcher"/>
    </configSections>
    <fileSystemWatcherSection culture="en-US">
        <directories>
            <directory path="D:\\AnalyzedDirectory"/>
        </directories>
        <rules defaultDirectory="D:\\AnalyzedDirectory\\Default">
            <rule template="A_*" destinationDirectory="D:\\AnalyzedDirectory\\A_" isIndexNumberRequired="false" isShiftDateRequired="false"/>
            <rule template="B_*" destinationDirectory="D:\\AnalyzedDirectory\\B_" isIndexNumberRequired="true" isShiftDateRequired="true"/>
        </rules>
    </fileSystemWatcherSection>
</configuration>